doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  style.
    * {
    margin: 0;
    padding: 0;
    }
    body {
    font-family: 'Arial';
    }
    h2 {
    color: red;
    font-weight: bold;
    font-size: 24px;
    }
    p {
    color: #111;
    }
    table {
    width: 100%;
    border: 1px solid #333;
    margin: 15px 0;
    }
    thead {
    color: #111;
    background: #eee;
    height: 25px;
    }
h2 Hello World
p 
  | #{text}
table
  thead
    tr
      th Col#1
      th Col#2
  tbody
    tr
      td X1
      td Y1
    tr
      td X2
      td Y2
