<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Arial';
    }

    h2 {
      color: red;
      font-weight: bold;
      font-size: 24px;
    }

    p {
      color: #111;
    }

    table {
      width: 100%;
      border: 1px solid #333;
      margin: 15px 0;
    }

    thead {
      color: #111;
      background: #eee;
      height: 25px;
    }
  </style>
</head>
<body>
  <h2>Hello World</h2>
  <p>I am dynamic PDF from browser!</p>

  <table>
    <thead>
      <tr>
        <th>Col#1</th>
        <th>Col#2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>X1</td>
        <td>Y1</td>
      </tr>
      <tr>
        <td>X2</td>
        <td>Y2</td>
      </tr>
    </tbody>
  </table>
</body>
</html>